<style>
  .underline{
    text-decoration: underline;
  }
  .card{
    transition: transform 1s ease,boxshadow 1s ease;
  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 0 12px 25px black;
  }
  .bookcard-img{
    height:200px;
    object-fit: cover;
  }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="/public/css/style.css" rel="stylesheet">
</head>
<body style="background-color: rgb(166, 50, 205);"> 
    <h2 class="offset-5 underline">Welcome to BookBank</h2>
<h3 class="offset-4 underline">A Place where you can resale your old and used books</h3>
<div class="row row-cols-lg-5 row-cols-md-3 row-cols-sm-2">
    <div class="col-6">
        <div class="card mt-1 mb-1 book-img">
  <img src="https://images.unsplash.com/photo-1661936901394-a993c79303c7?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZmljdGlvbiUyMGJvb2tzfGVufDB8fDB8fHww" class="bookcard-img" alt="Fiction">
  <div class="card-body">
    <h5 class="card-title">Fiction Books</h5>
    <p class="card-text">Imaginary stories and characters created by author. Written for entertainment, creativity and emotional connections </p>
  </div>
</div>
</div>
<div class="col-6">
       <div class="card mt-1 mb-1 book-img">
  <img src="https://images.unsplash.com/photo-1627793741864-1a9ec3ef2ba0?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fG5vbiUyMGZpY3Rpb258ZW58MHx8MHx8fDA%3D" class="bookcard-img" alt="Non_Fiction">
  <div class="card-body">
    <h5 class="card-title">Non_Fiction Books</h5>
    <p class="card-text">Books based on real facts,events and people. They aim to inform, educate or explain the world.</p>
  </div>
    </div>
    </div>
    <div class="col-6">
       <div class="card mt-1 mb-1 book-img">
  <img src="https://images.unsplash.com/photo-1565022536102-f7645c84354a?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c2Nob29sJTIwYm9va3N8ZW58MHx8MHx8fDA%3D" class="bookcard-img" alt="Non_Fiction">
  <div class="card-body">
    <h5 class="card-title">Educational Books</h5>
    <p class="card-text">Books used for learning academic subjects that help students to understand concepts required for school and college studies</p>
  </div>
    </div>
    </div>
      <div class="col-6">
       <div class="card mt-1 mb-1 book-img">
  <img src="https://images.unsplash.com/photo-1587831990711-23ca6441447b?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGVza3RvcCUyMHBjfGVufDB8fDB8fHww" class="bookcard-img" alt="Technology">
  <div class="card-body">
    <h5 class="card-title">Technology</h5>
    <p class="card-text">Explains computer science,software and modern technologies. Useful for programmers,engineers and IT students </p>
  </div>
    </div>
    </div>
    <div class="col-6">
      <div class="card mt-1 mb-1 book-img">
 <img src="https://covers.openlibrary.org/b/id/13292041-L.jpg" class="bookcard-img" alt="Science">
 <div class="card-body">
   <h5 class="card-title">Science</h5>
   <p class="card-text">Books that focus on natural laws, experiments, discoveries. They explain how physical and biological world works</p>
 </div>
   </div>
  </div>
  <div class="col-6">
    <div class="card mt-1 mb-1 book-img">
<img src="https://images.unsplash.com/photo-1521295121783-8a321d551ad2?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z2VvZ3JhcGh5fGVufDB8fDB8fHww" class="bookcard-img" alt="Arts">
<div class="card-body">
 <h5 class="card-title">Arts</h5>
 <p class="card-text">Arts books deal with social sciences and humanities. They help in understanding society, culture, economy an human behaviour</p>
</div>
 </div>
</div>
<div class="col-6">
  <div class="card mt-1 mb-1 book-img">
<img src="https://covers.openlibrary.org/b/id/9526777-L.jpg" class="bookcard-img" alt="Mathematics">
<div class="card-body">
<h5 class="card-title">Mathematics</h5>
<p class="card-text">Books that focus on numbers, formulae and problem solving techniques. They help to develop logical and analytical thinking</p>
</div>
</div>
</div>
<div class="col-6">
  <div class="card mt-1 mb-1 book-img">
<img src="https://archive.org/download/isbn_9780756617721/page/cover_w500_h500.jpg" class="bookcard-img" alt="Religion">
<div class="card-body">
<h5 class="card-title">Religion</h5>
<p class="card-text">Explains beliefs, rituals and spiritual teachings. They guide people in moral values and spiritual teachings</p>
</div>
</div>
</div>
<div class="col-6">
  <div class="card mt-1 mb-1 book-img">
<img src="https://covers.openlibrary.org/b/id/551452-L.jpg" class="bookcard-img" alt="Children">
<div class="card-body">
<h5 class="card-title">Children</h5>
<p class="card-text">Children's books written for young minds to learn language, pictures and moral lessons</p>
</div>
</div>
</div>
<div class="col-6">
  <div class="card  book-img mb-1 mt-1">
<img src="https://covers.openlibrary.org/b/id/11855187-L.jpg" class="bookcard-img" alt="Comics">
<div class="card-body">
<h5 class="card-title">Comics</h5>
<p class="card-text">Tells stories using illustrations and dialogues. Popular for entertainment and visual storytelling</p>
</div>
</div>
</div>
</div>
<form method="get" action="/book">
<button class="btn btn-primary  offset-6 mt-2">Explore Now</button>
</form>
</body>
</html>